.container {
  position: relative;
}

.fas {
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.fas:hover {
  color: black;
}

.fa-arrow-left {
  position: absolute;
  left: 20px;
  bottom: 5%;
  transform: translateY(-50%);
}

.fa-arrow-right {
  position: absolute;
  right: 20px;
  bottom: 5%;
  transform: translateY(-50%);
}

.card-body {
  position: relative;
}
