.contact-container {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-intro {
    font-weight: 300;
    color: #25282f;
    text-align: center;
    margin-bottom: 2vh;
}
.contact-details {
    margin-bottom: 4vh;
    font-size: calc(0.75rem + 0.5vw);
}
.contact-emails {
    font-size: calc(0.5rem + 0.5vw);
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
}
.contact-email {
    color: #373636;
    font-size: calc(0.75rem + 0.5vw);
    text-decoration: none;
    justify-content: center;
    margin-bottom: 1vh;
}
.home-icons-wrapper {
    text-align: center;
}
.home-icons {
    margin: 0 10px;
    transition: transform 0.3s;
    padding: 10px;
}  
.home-icons:hover {
    transform: scale(1.2);
} 